<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.SuperJMN.AvaloniaSyncronizer">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<application android:label="AvaloniaSyncronizer" android:icon="@drawable/Icon" android:usesCleartextTraffic="true">
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.SuperJMN.AvaloniaSyncronizer.fileprovider"
			android:grantUriPermissions="true"
			android:exported="false">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths" />
		</provider>
	</application>
</manifest>